*{
  transition: transform 0.3s ease;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topNav {
    /* border: 3px solid green; */
    height: 13vh;
    background-color: rgb(252, 250, 250);
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: -55px;
    height: 35px;
    width: 30%;
  }
  
  .search-container {
    /* border: 3px solid purple; */
    width: 48%;

  }
  
  .searchbar {
    height: 45px;
    width: 100%;
    border: #999;
    border-radius: 6px;

  }
  
  .search-icon {
    /* border: 1px solid purple; */
    position: absolute;
    left: -10;
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;
    height: 17px;
    color: #999;
  }
  input::placeholder {
    font-size: 16px; 
    color: #999; 
    text-align: right;
    padding-right: 270px;
  }
  
  nav{
    /* border: 3px solid blue; */
    height: 8vh;
  }
  .promo{
    /* border: 3px solid red; */
    height: 6vh;
    background-color: black;
    padding-left: 358px;
    padding-top: 5px;
  }

  .promoVideo{
    /* border: 1px solid black; */
    height: 53vh;
    display: flex;
  }
  .parent {
    width: 400px; 
    height: 300px;
  }
  
  .child {
    width: 100%;
    height: 100%;
    /* background-color: black;/ fallback color */
    background-image: url("https://www.mrp.com/en_za/ladies");
    background-position: center;
    background-size: cover;
  }
  li{
    font-size: 14px;
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 25px;
    font-weight: 640;
  }
   li:hover{
    color: rgb(224, 56, 56);
    /* border: rgb(224, 56, 56); */
  } 
  
  .promoMessage{
    color: #fff;
    font-size: 16px;
  }
  span{
    font-weight: 700;
  }
  video{
    width: 100%;
  }
  .video-container {
    position: relative;
    display: inline-block;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  .button-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 155px;
    font-size: 12px;
  }
  
  button:hover {
    background-color: rgb(77, 74, 74);
    color: #fff;
  }

  .options{
    border: 1px solid black;
    height: 50vh;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
  }

.ChooseOptions{
  border: 1px solid black;
  height: 25vh;
  width: 20%;
  border-radius: 8px;
  margin: auto 20px;
}

.ChooseOptions:hover{
  background-color: rgb(226, 219, 219);
}

   .clothingOptions{
    border: 1px solid rgb(43, 6, 6);
    height: 15vh;
    background-color: #353C43;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: px;
  }
  p{
    color: #fff;
  }
  .opt{
    color: #fff;
    font-size: 16px;
  } 
  
.beforeFooter{
  border: 5px solid purple;
  height: 75vh;
  display: flex;
}  

.mrp{
  /* border: 2px solid red; */
  width: 25%;
  margin: 63px;
  /* margin-left: ; */
  height: 40vh;
}

.mrp p {
  color: #353C43;
  /* border: 2px solid #353C43; */
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.mrp p:hover {
  color: black;

}
.differentSocials{
  border: 2px solid black;
  height: 35vh;
  padding-top: 35px;
  padding-left: 63px;

}
.differentSocials div{
  font-size: 28px;
}
.differentSocials p{
  font-size: 28px;
  color: #353C43;
  display: inline;
  margin-left: 0px;
  margin-top: 40px;
}
.differentSocials .social{
  font-size: 28px;
  color: #353C43;
  display: inline;
  margin-left: 130px;
  
}